</div> <!-- container -->

<footer class="footer">
  <div class="container">
    <p>Thanks <a href="#">npm-www</a>.</p>
    <p>&copy; 2013 Baidu, Inc.</p>
  </div>
</footer>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5c37a57b38480225a6cf97a8b0d288fb' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- <%= stamp %> -->
