<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Baidu edp</title>
  <link rel="canonical" href="<%= canonicalHref %>">
  <link type="text/css" rel="stylesheet" media="all"
    href="/static/bootstrap/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" media="all"
    href="/static/edp.css" />
  <link rel="search" type="application/opensearchdescription+xml"
    href="/static/opensearch.xml" title="Search Packages" />
<script>(function(){
if (location.pathname === '/') {
var m = location.hash.match(/^#\/[^\/]*$/)
if (m) location.replace('/package' + m[0].substr(1))
}})()</script>
<body>
  <%- include('nav.ejs', locals) %>

  <div class="container">
          <!--
          <header>
            <form action="/search" method="get">
              <input name=q type="search" placeholder="Search Packages" autofocus="autofocus">
              <%- csrf %>
            </form>
          </header>
          -->
