<%- include('header.ejs', locals) %>

<% if (locals.failed || locals.error ||
       locals.statusCode && locals.statusCode >= 400) { %>
  <p class=error>The information you entered was rejected for reasons.</p>
  <p>You may try again, or <a href=/forgot>reset your password</a>
  if you have forgotten it.</p>
  <% if (locals.message) { %>
  <p>The server said: <code><%= locals.message %></code></p>
  <% } %>
<% } %>

<form action='' method='post' class="form-horizontal">
  <fieldset>
    <legend>Login</legend>
    <div class="control-group">
      <label class="control-label" for="name">Username</label>
      <div class="controls">
        <input type="text" name="name" id="name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" name="password" id="password">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class='btn' type='submit'>Login!</button>
        <a href="/forgot">Forgot password?</a>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        Don't have an account? <a href="/signup">Sign up.</a>
      </div>
    </div>

    <%- csrf %>
  </fieldset>
</form>

<%- include('footer.ejs', locals) %>
