<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>E * D * P</h1>
    <p class="lead">
        Ecom Development Platform.
        <% if (typeof totalPackages !== 'undefined') { %>
        Total Packages: <%= totalPackages %>
        <% } %>
    </p>
  </div>
</header>